<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="269488f5-088a-486f-92b4-5aba05b9f4ee" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-11T00:37:18" updateDate="2017-08-11T17:10:19" nodeName="Homepage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1061" creatorName="ber sem" writerName="ber sem" writerID="0" template="1060" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Welcome to Widgets]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>]]></bodyText>
    <footerText><![CDATA[Copyright Widgets 2017]]></footerText>
    <simpleContentPage id="1068" key="9feb4483-59fb-4cbe-8b06-f1df0c0144a5" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2017-08-11T14:59:19" updateDate="2017-08-11T15:23:34" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1068" isDoc="" nodeType="1067" creatorName="ber sem" writerName="ber sem" writerID="0" template="1066" nodeTypeAlias="simpleContentPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>Phone #<br />555-345-6079</p>
<p>Email<br />test@testfake.com</p>]]></bodyText>
    </simpleContentPage>
    <articlesMain id="1075" key="8c025549-006d-4367-b4d2-ed30684f31c2" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2017-08-11T15:50:26" updateDate="2017-08-11T15:54:27" nodeName="Articles" urlName="articles" path="-1,1064,1075" isDoc="" nodeType="1071" creatorName="ber sem" writerName="ber sem" writerID="0" template="1070" nodeTypeAlias="articlesMain">
      <articlesItem id="1076" key="67057f36-cb02-4126-830f-79abf258ac7d" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2017-08-11T15:51:55" updateDate="2017-08-11T15:51:55" nodeName="Test 1" urlName="test-1" path="-1,1064,1075,1076" isDoc="" nodeType="1073" creatorName="ber sem" writerName="ber sem" writerID="0" template="1072" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Test 1]]></articleTitle>
        <articleContents><![CDATA[<p>TEst1</p>]]></articleContents>
      </articlesItem>
      <articlesItem id="1077" key="79a02058-54ba-4b20-997f-6423708cb7c4" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2017-08-11T15:52:22" updateDate="2017-08-11T15:52:22" nodeName="Test 2" urlName="test-2" path="-1,1064,1075,1077" isDoc="" nodeType="1073" creatorName="ber sem" writerName="ber sem" writerID="0" template="1072" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Test 2]]></articleTitle>
        <articleContents><![CDATA[<p>Test 2</p>]]></articleContents>
      </articlesItem>
      <articlesItem id="1078" key="01629232-1cc2-49d7-b580-7cd5ef40b9c7" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2017-08-11T15:52:45" updateDate="2017-08-11T15:52:45" nodeName="Test 3" urlName="test-3" path="-1,1064,1075,1078" isDoc="" nodeType="1073" creatorName="ber sem" writerName="ber sem" writerID="0" template="1072" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Test 3]]></articleTitle>
        <articleContents><![CDATA[<p>Test 3</p>]]></articleContents>
      </articlesItem>
    </articlesMain>
  </homePage>
</root>